<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="C:\Y2_java\springcloud\spring-cloud\springcloudapi\src\main\java\com\why\springcloud\pojo" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>